/runs/detect/yolov9_s_c_1280_detect2/horses.jpg
/runs/detect/yolov9_s_c_1280_detect3/horses.jpg
/runs/detect/yolov9_s_c_1280_detect4/J-D-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect5/J-D-110m-001.mp4
/runs/detect/yolov9_s_c_1280_detect6/J-D-110m-002.mp4
/runs/detect/yolov9_s_c_1280_detect7/J-D-110m-002.mp4
/runs/detect/yolov9_s_c_1280_detect8/J-D-20m-003.mp4
/runs/detect/yolov9_s_c_1280_detect9/J-D-20m-002.mp4
/runs/detect/yolov9_s_c_1280_detect10/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect11/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect12/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect13/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect14/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect15/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect17/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect18/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect19/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect20/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect21/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect22/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect23/J-X-10m-001.mp4
/runs/detect/yolov9_s_c_1280_detect24/Z-D-30m-001.mp4
/runs/detect/yolov9_s_c_1280_detect25/Z-D-100m-003.mp4
/runs/detect/yolov9_s_c_1280_detect26/Z-D-90m-003.mp4
/runs/detect/yolov9_s_c_1280_detect27/Z-D-60m-003.mp4
/runs/detect/yolov9_s_c_1280_detect28/Z-D-50m-003.mp4
/runs/detect/yolov9_s_c_1280_detect29/Z-D-40m-003.mp4
/runs/detect/yolov9_s_c_1280_detect30/X-20m-002.mp4
/runs/detect/yolov9_s_c_1280_detect31/X-40m-003.mp4
/runs/detect/yolov9_s_c_1280_detect32/X-170m-002.mp4
/runs/detect/yolov9_s_c_1280_detect33/F774323A-D315-4c44-8549-B1EA48D7CD81.png
/runs/detect/yolov9_s_c_1280_detect34/1ED247C1-D592-4992-BB76-D8F966D38D9D.png
/runs/detect/yolov9_s_c_1280_detect35/B1102F4D-67E4-4ec6-824B-DCA0090A43ED.png
/runs/detect/yolov9_s_c_1280_detect36/8ECFA448-B884-4bbf-949F-5406AE198994.png
/runs/detect/yolov9_s_c_1280_detect37/8ECFA448-B884-4bbf-949F-5406AE198994.png
/runs/detect/yolov9_s_c_1280_detect38/X-170m-002.mp4
/runs/detect/yolov9_s_c_1280_detect39/X-170m-002.mp4
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/yolov9.iml
